body{
    background-color: black;
}

/*formulario login */
#formularioLogin{
    color: white;
    border-color: orange;
    border-bottom-style: double;
    position: absolute;
    padding: 4%;
    left: 36%;
    top: 28%;
    border-top-style: double;
    font-family: sans-serif;

}

#botonLogin {
    font-family: sans-serif;
    display: inline;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: orange;
    text-align: center;
    font-size: 15px;    
    width: 100px;
    height: 30px;
    margin: 5px;       
    vertical-align: middle;
    align-self: center;
    top: 65%;
    position: absolute;
    transition: all 0.5s;
}

#botonLogin:hover{
    background-color: white;
    color: black;
}

a{
    color: white;
    text-decoration: none;
    font-family:sans-serif;
    font-size: 0.9em;
}

a:hover{
    color: orange;
}

#nuevaCuenta{
    position: absolute;
    top: 60%;
    left: 46%;
}

#titulo{
    position: absolute;
    top: 8%  ;
    left: 31%;
}







/*INDEX*/


section{
    background-color: black;
    position: absolute;
    left: 32%;
    top: 37%;
    width: 65%;
    height: 50%;
    color: white;
    padding: 0%;
    
}

/*HEADER*/

header{
    position: absolute;
    width: 1350px;
    height: 30%;
}

#headerTitulo{
    position: absolute;
    left: 10%;
    top: 20%;
}

#linkLoginHeader{
    position: absolute;
    right: 0%;
    top: 0%;
}


/*ASIDE*/

aside{
    padding: 10px;
    background-color: black;
    position: absolute;
    left: 10%;
    top: 35%;
    width: 20%;
    height: 60%;
    border: orange;
    border-style: double;
    color: white;   
    opacity: .60;
    border-left: none;
    border-right: none;
}

.titulos{
    color: orange;
    font-family: sans-serif;
    opacity: 1;
}

/* nav */

nav{
    position: absolute;
    top: 25%;
    width: 70%;
    left:10%;
    border: orange;
    border-style: double;
    border-left:  double;
    border-right: double;
    height: 5%;
    opacity: .60;
    color: white;
    
}

#navTitulo{
    color: white;
    position: absolute;
    left: 5%;
    top: 15%;
}



